<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nexus" value="https://nexus-ci.onefiserv.net/repository/nuget.org-v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nexus">
      <package pattern="Microsoft.PowerApps.CLI.Tool" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
